.wrap {
  width: 100%;
  max-width: 1600px;
  min-width: 960px;
  z-index: 10;
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.menu {
  height: 50px;
  z-index: 1000;
  width: 100%;
  background: #0977bc;
}

.inner {
  padding: 0;
  font-weight: 300;
  width: 90%;
  margin: 0 auto;
  position: relative;
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
}

.subNavBtn {
  display: block;
  height: 35px;
  min-width: 150px;
  float: right;
  margin: 0px 0px 0 0;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 2% 0 2%;
  text-align: center;
  color: #cc0000;

  &:visited {
    color: #fff;
  }
}

.subNavBtn:hover{
  background: #25aae1;
}

.subNavBtn2 {
  display: block;
  height: 35px;
  width: 10%;
  float: left;
  margin: 15px 0px 0 0;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 2% 0 2%;
  text-align: left;
  color: #fff;
}

.subNavBtn3 {
  display: block;
  height: 25px;
  width: 15%;
  float: right;
  margin: 15px 0px 0 0;
  text-decoration: none;
  font-size: 11px;
  padding: 0px 2% 0 2%;
  text-align: left;
  color: #fff;
}

.subNavBtn4 {
  &:visited {
    color: #fff;
  }
}


body{
  background-color:#ffffff;
}
